html, body {
  font-family: 'Open Sans', sans-serif;
  background-color: #faf8f8!important;
  padding: 0px;
  width: 100%;
}

.navbar.bg-primary {
  background-color: #0046ce!important;
  position: absolute;
  top: 0px;
  z-index: 99;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

h5.card-title
{
  font-size: 16px;
  padding: 5px 10px;
  margin: 0px;
  color: #fff;
}
#SignIn.btn-success
{
border-radius: 40px;
padding: 5px 20px 8px 20px;
font-size: 16px;
background-color: #218838!important;
border-color: #1e7e34;

}

#SignIn.btn-secondary
{

font-size: 16px;
background-color: #bbbebc!important;
color: #1a1818;
font-weight: bold;

}

#SignIn.btn-success:hover {
  color: #fff;
  background-color: #1e7e34;
  border-color: #1e7e34;
}


 .main-page.container-fluid
{
height: 80vh;
width: 100%;
padding: 0px;
margin: 0px;
overflow: hidden;
}


.carousel-item .w-100 {
  width: 100%!important;
  height: 100vh;
  padding: 0px;
  margin: 0px;
}

.main-page .carousel-control-next, .main-page .carousel-control-prev
{
  width:5%;
}

.carousel .carousel-indicators
{
bottom: 5%;
}

.carousel-indicators button[data-bs-target]
{
  border: 2px solid #fff;
  border-radius: 20px;
  height: 8px;
  width: 40px;
  background-color: transparent;
  opacity: 1;
}
.carousel-indicators button[data-bs-target].active
{
  background-color: #fff;
}

.carousel-item  .carousel-caption
{
  bottom: 0px;
  top: 0px;
  left: 5%;
  right: auto;
  margin: auto;
  height: 160px;
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 30px;
  border: 2px solid #fff;
  border-width: 0px 0px 0px 3px;
}
.carousel-caption h5
{
  font-size: 26px;
}
.carousel-caption p
{
  font-size: 20px;
}

.data-show
{
  display: block;
}

.data-show .gallery-section-filter{
   
    background: transparent;
    border-bottom:1px solid #ccc;
    text-align: center;
    margin-bottom: 1px;
  }

  
  .gall-filt-box {
    position: relative;
    display: inline-block;
    margin-bottom: -1px;
}  

  .data-show .gallery-section-filter span.active[data-filter] {
    margin-bottom: -1px;
    border-bottom: 3px solid #3d4451;
}

.data-show .gallery-section-filter span[data-filter]
{
  border-bottom:3px solid transparent
}

.data-show .gallery-section-filter span.active[data-filter], .data-show .gallery-section-filter span[data-filter]:hover {
   border-bottom:3px solid #3d4451;
   color: #000;
}

.data-show .gallery-section-filter span[data-filter] {
    cursor: pointer;
    display: inline-block;
    vertical-align: top;
    margin: 0;
    padding: 15px 27px;
    font-size: 20px;
    line-height: 24px;
    font-weight: 600;
    color: #656666;
}


  .text-right {
    text-align: left;
  }
  h1 {
    font-size: 50px;
    word-break: break-all;
  }
  * {
    box-sizing: border-box;
  }
  .card{
    padding: 10px;
    background: #faf8f8;
  }
  
  
  .card-text{
    font-weight: bold;
    text-align: center;
  }
  #bi-domain{
    font-size: 18px;
    color: #73787c;
  }

  #bi-tool{
    font-size: 20px;
    color: #000;
    
  }
  .data-show img {
    max-width: 100%;
    height: 200px;
    border: 1px solid lightgrey;
    border-radius: 4px;  /* Rounded border */
    padding: 5px; /* Some padding */
}

.card:hover{
    box-shadow: 0 0px 4px 0 rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.1);
  }
  div.card {
  
    box-shadow: none;
  } 

.row:after {
    content: "";
    display: table;
    clear: both;
  }
  

.btn:hover {
  background-color: #b3aaaa!important;
}

.list.active{
  background-color: #666!important; 
  color: white!important; 
}

.btn{
  margin-left: 15px;
  border: 1px solid lightgray;
  background-color: rgb(241, 233, 233)!important;
  padding:7px 30px 7px 30px !important;

}
/* 
/* .btn.active {
  background-color: #666; 
  color: white; 
  /* border-bottom: 1px solid gray; */
  /* background-color: #666;
  color: white; */
 */ */

/* .btn {
  border: none;
  outline: none;
  padding: 12px 16px;
  cursor: pointer;
  margin-left: 10px;

} */

/* .show {
  display: block;
} */

/* .filterDiv{
  display: none;
} */



.itemBox section{
  margin: 40px auto;
}

.itemBox section ul{
margin: 0px;
padding: 0px;
}

.itemBox section ul li{
  list-style: none;
  background-color:transparent;
  padding: 5px 15px;
  margin: 0 10px;
  cursor: pointer;
  font-size: 1.1em;
  line-height: 36px;
}

.itemBox section ul li.active{
  background-color: rgba(28, 29, 28, 0.8);
  color: white;
}

ul{

  display: flex;
  justify-content: center;
  margin-top: 10px;
  border-bottom: 1px solid rgba(119, 33, 33, 0.2);
  padding-bottom: 10px;
  box-sizing: border-box;  
}

#myBtnContainer{ 
  display: flex;
  justify-content: center;
  margin-top: 10px;
  border-bottom: 1px solid rgba(119, 33, 33, 0.2);
  padding-bottom: 10px;
  box-sizing: border-box; 
} 
  
.hide{
  display: none;
}
.itemBox h4
{
  text-align: left;
}

.img-carousel{
  height: 464px;
}